.pad-preview {
    width: 130px;
    height: 130px;
    background-color: #d1c9e4;
    border-radius: 10px;
    .title {
        padding: 5px 5px 0px 5px;
        text-align: center;
    }
    p {
        font-weight: 600;
    }
}

@media (max-width: $mobile-breakpoint) {
    .pad-preview {
        width: 80px;
        height: 115px;
    }
}
