.pad-list {
    .grid-list {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        grid-gap: 30px;
    }

    @media (max-width: $mobile-breakpoint) {
        .grid-list{
            grid-gap: 10px;
        }
    }
}